@use "../../foundation/mixin" as *;
@use "../../foundation/variable" as *;

.c-active {
    &:active {
        -webkit-animation: c-active 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
        -moz-animation: c-active 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
        animation: c-active 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    }

    @-webkit-keyframes c-active{
        0% {
          -webkit-transform: scale(1);
                  transform: scale(1);
        }
        100% {
          -webkit-transform: scale(0.85);
                  transform: scale(0.85);
        }
    }
    @-moz-keyframes c-active{
        0% {
          -webkit-transform: scale(1);
                  transform: scale(1);
        }
        100% {
          -webkit-transform: scale(0.85);
                  transform: scale(0.85);
        }
    }
    @keyframes c-active {
        0% {
          -webkit-transform: scale(1);
                  transform: scale(1);
        }
        100% {
          -webkit-transform: scale(0.85);
                  transform: scale(0.85);
        }
    }
}