@use "../../foundation/mixin" as *;
@use "../../foundation/variable" as *;

.c-arrow {
    &--left {
        position: relative;
        display: inline-block;
        font-size: 0;
        padding: 5px;
    
        &:before {
          content: '';
          width: 15px;
          height: 15px;
          border: 0;
          border-top: solid 1px $grey;
          border-left: solid 1px $grey;
          position: absolute;
          top: 50%;
          left: 0;
          margin-top: -7px;
          transform: rotate(-45deg);
        }
    }

    &--right {
        position: relative;
        display: inline-block;
        font-size: 0;
        padding: 5px;
    
        &:before {
          content: '';
          width: 15px;
          height: 15px;
          border: 0;
          border-top: solid 1px $grey;
          border-right: solid 1px $grey;
          position: absolute;
          top: 50%;
          left: -5px;
          margin-top: -7px;
          transform: rotate(45deg);
        }
    }
}