@use "../../mixin" as *;
@use "../../variable" as *;

.c-aside {
    background-color: #F2EDE9;
    color: $grey;

    &__close {
        position: absolute;
        top: 20px;
        right: 20px;
        font-size: 2rem;
        @include breakpoint( pc ) {
            //display: none;
            opacity: 0;
        }

        &:hover {
            cursor: pointer;
        }
    }

    &__title {
        opacity: 0;
        padding: 6% 0;
        font-size: 2.1rem;
        @include breakpoint( pc ) {
            opacity: 1;
        }
    }

    &__menu {
        margin: 20% 0;

        &--heading {
            margin-bottom: 15%;
            font-size: 1.5rem;
            font-family: 'M+ 1m';
        }

        &--list {
            margin-left: 1rem;
            
            li {
                margin: 10% 0;

                a{
                    color: $grey;
                    font-size: 1.25rem;
                    &:hover {
                        opacity: 0.5;
                    }
                }
            }
        }
    }
}