@use "../../foundation/mixin" as *;
@use "../../foundation/variable" as *;

.c-button {
    display: block;
    background-color: $white;
    margin: 10% auto 0;
    padding: 3%;
    border-radius: 50px;
    width: 42%;
    max-width: 292px;
    max-height: 76px;
    min-width: 163px;
    color: $grey;
    font-weight: bold;
    text-align: center;
}