@use "../../foundation/mixin" as *;
@use "../../foundation/variable" as *;

.c-card {
    background-color: $brown2;
    color: $white;
    min-height: 354px;
    @include breakpoint( tablet ) {
        display: flex;
    }

    &__img {
        //background-image: url(../../../img/card.png);
        //background-size: cover;
        background-color: olive;
        @include breakpoint( tablet ) {
            max-width: 50%;
            object-fit: cover;//none
            //object-position: left;    
        }    
    }

    &__text {
        padding: 3% 4% 8%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        @include breakpoint( tablet ) {
            padding: 3% 4% 4%;
        }

        h3 {
            font-size: 1.25rem;
            padding: 2% 0;
            @include breakpoint( pc ) {
                font-size: 2.25rem;
            }
        }

        h4 {
            padding: 3% 0 2%;
            @include breakpoint( pc ) {
                font-size: 1.5rem;
            }                    
        }

        p {
            padding-right: 6%;
        }
    }
}