@use "../../foundation/mixin" as *;
@use "../../foundation/variable" as *;

.p-search__border {
    position: relative;
}

.c-glass {
    background-color: darksalmon;
    &::before {
        position: absolute;
        content: '';
        width: 15px;
        height: 15px;
        top: calc(50% - 9px);
        left: calc(10% - 9px);
        border-radius: 50%;
        box-shadow: 0 0 0 2px $grey;
        @include breakpoint( tablet ) {
            left: calc(5% - 9px);
        }
    }
    &::after {
        position: absolute;
        content: '';
        width: 8px;
        height: 6px;
        top: calc(50% + 6px);
        //left: calc(50% + 2px);
        left: calc(10% + 3px);
        border-top: solid 2px $grey;
        transform: rotate(45deg);
        @include breakpoint( tablet ) {
            left: calc(5% + 3px);
        }
    }
}
