@use "../../foundation/mixin" as *;
@use "../../foundation/variable" as *;

.c-submit {
    border: solid 1px $grey;
    background: linear-gradient(#F2EDE9,#DED8D3);
    border-radius: 6px;
    padding: 12px 23px;
    font-size: 1rem;
    color: $grey;
    @include breakpoint( tablet ) {
        padding: 12px 40px;
    }

    &:active {
        background: linear-gradient(#DED8D3,#d3ccc5);
    }
}

.c-submit--single {
    border: solid 1px $grey;
    background: linear-gradient(#F2EDE9,#DED8D3);
    width: 100%;
    height: 81px;
    border-radius: 20px;
    color: $brown;
    font-weight: bold;
    @include breakpoint( tablet ) {
        width: 429px;
        height: 104px;
    }    

    &:active {
        background: linear-gradient(#DED8D3,#d3ccc5);
    }
}