.c-white {
    background-color: rgb(255, 255, 255, 0.8);
    margin-bottom: 2.8%;
    padding: 3% 4%;
    display: block;
    color: #3C2A10;

    h4 {
        font-size: 1.5rem;
        font-family: "M+ 1m";
        margin-bottom: 5%;
    }

    p {
        font-size: 1rem;
        margin-bottom: 10%;
    }

    &:active {
        background-color: rgb(255, 255, 255, 0.9);
        color: rgb(60, 42, 16, 0.8);
    }
}