@use "../../foundation/mixin" as *;
@use "../../foundation/variable" as *;

.u-margin {
    margin-bottom: 3%;
    @include breakpoint( tablet ) {
        margin-right: 0;
        margin-bottom: 0;
    }    
}