@use "../../foundation/mixin" as *;
@use "../../foundation/variable" as *;

.p-archive {
    padding: 3.5%;

    &__introduction {
        color: $brown;
        padding: 2% 0;

        h3 {
            font-size: 1.75rem;
            @include breakpoint( tablet ) {
                font-size: 2.25rem;
            }
        }

        p {
            margin: 3% 0;
        }
    }
}