@use "../../foundation/mixin" as *;
@use "../../foundation/variable" as *;

body {
    overflow-x: hidden;
}

.is-open {
    right: 0;
}

.p-aside {
    background-color: #F2EDE9;
    color: $grey;
    position: absolute;
    height: 100%;
    top: 0;
    right: -100%;
    width: 328px;
    padding: 9% 6%;
    z-index: 30;
    transition: all 400ms 0s ease;
    /* 画面の高さが低くてメニューが隠れてしまった場合に、縦スクロールが出るよう設定 */
    //overflow-y: auto;
    @include breakpoint( tablet ) {
        width: 367px;// ％に変更
    }
    @include breakpoint( pc ) {
        display: block;
        width: 19%;
        padding:  4% 2%;
        z-index: 0;
        right: 0;
    }


    &__close {
        position: absolute;
        top: 20px;
        right: 20px;
        font-size: 2rem;
        @include breakpoint( pc ) {
            //display: none;
            opacity: 0;
        }

        &:hover {
            cursor: pointer;
        }
    }

    &__title {
        opacity: 0;
        padding: 6% 0;
        font-size: 2.1rem;
        @include breakpoint( pc ) {
            opacity: 1;
        }
    }

    &__heading {
        margin: 20% 0 15%;
        font-size: 1.5rem;
        font-family: 'M+ 1m';
        @include breakpoint( pc ) {
            font-size: 1.5vw;
        }    
    }

    &__list {
        margin-left: 1rem;
        
        li {
            margin: 10% 0;

            a{
                color: $grey;
                font-size: 1.25rem;
                @include breakpoint( pc ) {
                    font-size: 1.25vw;
                }
        
                &:hover {
                    opacity: 0.5;
                }
            }
        }
    }
}