@use "../../foundation/mixin" as *;
@use "../../foundation/variable" as *;

.p-code {
    background-color: #F5F5F5;

    pre {
        @include breakpoint( tablet ) {
            padding-left: 10%;
        }    
    }

    code {
        font-family: "M+ 1m";
        color: $brown;
    }
}