@use "../../foundation/mixin" as *;
@use "../../foundation/variable" as *;

.p-mainvisual {
    position: relative;

    img {
        height: 285px;
        object-fit: cover;
        width: 100%;
        @include breakpoint( pc ) {
            height: 530px;
        }
    }

    h2 {
        position: absolute;
        top: 45%;
        left: 10%;
        color: $white;
        font-size: 2.2rem;
        font-family: "M+ 1m";
        @include breakpoint( pc ) {
            font-size: 3.75rem;
        }
    }
}

.p-mainvisual--archive {
    position: relative;
    overflow: hidden;
    height: 285px;
    width: 500vw;
    background-color: #000;
    @include breakpoint( pc ) {
        height: 239px;
    }

    &__img {
        position: absolute;
        margin-top: -600px;
        margin-left: -300px;
        width: 1600px;
        opacity: 0.6;
        @include breakpoint( pc ) {
            margin-left: -50px;
        }
    }

    &__text {
        position: absolute;
        top: 38%;
        left: 1%;
        color: $white;
        z-index: 3;
        @include breakpoint( pc ) {
            display: flex;
            align-items: center;
        }

        h2 {
            font-size: 2.2rem;
            padding-right: 10px;
            @include breakpoint( tablet ) {
                font-size: 3.75rem;
            }
        }

        p {
            padding-top: 10px;
        }
    }
}

.p-mainvisual--single {
    position: relative;
    height: 225px;
    overflow: hidden;
    width: 300vw;
    @include breakpoint( tablet ) {
        height: 500px;
    }

    &__img {
        position: absolute;
        margin-top: -920px;
        margin-left: -150px;
        width: 700px;
        @include breakpoint( tablet ) {
            margin-top: -2100px;
            margin-left: 0;
            width: auto;
        }
    }

    h1 {
        position: absolute;
        top: 45%;
        left: 1%;
        color: $white;
        z-index: 3;
        font-size: 2.2rem;
        font-family: "M+ 1m";
        padding-right: 10px;
        @include breakpoint( tablet ) {
            font-size: 3.75rem;
        }
    }
}

.p-mainvisual--shop {
    position: relative;

    &__img {
        object-fit: cover;
        width: 100%;
        @include breakpoint( tablet ) {
            height: 500px;
        }
    }

    h1 {
        position: absolute;
        top: 45%;
        left: 1%;
        color: $white;
        z-index: 3;
        font-size: 2.2rem;
        font-family: "M+ 1m";
        padding-right: 10px;
        @include breakpoint( tablet ) {
            font-size: 3.75rem;
        }
    }
}