@use "../../foundation/mixin" as *;
@use "../../foundation/variable" as *;

.p-search {
    display: flex;
    margin-right: 0;
    font-size: 1rem;
    //background-color: rosybrown;

    &__border {
        border: solid 1px $grey;
        //position: relative;
        display: flex;
        margin-right: 1rem;
        padding-left: 25px;
        background-color: $white;
        border-radius: 6px;
        width: 230px;
        @include breakpoint( tablet ) {
            width: 396px;
        }
        @include breakpoint( pc ) {
            width: 30vw;
            max-width: 396px;
        }
            
        &--search {
            //border: solid 1px #707070;
            background-color: $white;
            border-radius: 6px;
            width: 100%;
            margin-left: 13px;
        }
    }

    &__submit {
        border: solid 1px $grey;
        background: linear-gradient(#F2EDE9,#DED8D3);
        border-radius: 6px;
        padding: 12px 23px;
        font-size: 1rem;
        color: $grey;
        @include breakpoint( tablet ) {
            padding: 12px 40px;
        }
    
        &:active {
            background: linear-gradient(#DED8D3,#d3ccc5);
        }
    }
}