@use "../../foundation/mixin" as *;
@use "../../foundation/variable" as *;

.p-table {
    padding: 50px 0;
    
    table {
        border-collapse: collapse;
        border-spacing: 0;
        background-color: $white;
        color: $brown;
        width: 100%;
        border-color: $grey;
        
        td {
            padding: 30px;
        }
    }
}