@use "../foundation/mixin" as *;
@use "../foundation/variable" as *;

.l-pagination {
    margin: 4%;
    @include breakpoint( tablet ) {
        margin:  4% auto;
        max-width: 580px;
    }    
}